<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>155.223.24.224:4560</destination>

		<!-- encoder is required -->
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>


	<root level="DEBUG">
		<appender-ref ref="STASH" />
	</root>
	<logger name="main" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="STASH" />
	</logger>
</configuration>